.tit{
 background:black;
 width:500px;
 height:50px;}

.hed{
background:black;
 width:50px;
 height:50px;
 font-size:20px;}

.parr{ background:black;
 width:700px;
 height:255px;
 font-size:20px;}

.hed2{ background:black;
 width:50px;
 height:50px;
 font-size:20px;}

.parr2{ background:black;
 width:700px;
height:300px;
font-size:20px;}

.lol{
	 width:70px;
height:30px;
}